.random-giphs {
    background-color: black;
}

.random-giphs h2 {
    color: white;
    margin-bottom: 10px;
}

.random-giphs img {
    width: 70%;
    margin: 5px 10px;
    background-color: #302244;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, #a600f4 0%, #0077f7 25%, #a6f900 50%, #f4b300 75%, #ff0188 100%);
    border-image-slice: 1;
}

.random-giphs img:hover {
    border: 10px solid white;
}

.random-giphs .random-btn {
    margin-bottom: 10px;
    border: 1px solid white;
    background-color: black;
    font-size: large;
    padding: 10px;
    color: white;

}

.random-giphs .random-btn:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #a600f4 0%, #0077f7 25%, #a6f900 50%, #f4b300 75%, #ff0188 100%);
    border-image-slice: 1;
}
