.random-giphs {
    background-color: lavender;
}

.random-giphs h2 {
    color: white;
    background-color: #ed95d9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px;
}

.random-giphs img {
    width: 70%;
    margin: 5px 10px;
    background-color: #302244;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, #a600f4 0%, #0077f7 25%, #a6f900 50%, #f4b300 75%, #ff0188 100%);
    border-image-slice: 1;
}

.random-giphs img:hover {
    border: 10px solid white;
}

.random-giphs .random-btn {
    color: #ed95d9;
    background-color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px lightgray;
    margin-bottom: 15px;
}

.random-giphs .random-btn:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom right, #a600f4 0%, #0077f7 25%, #a6f900 50%, #f4b300 75%, #ff0188 100%);
    border-image-slice: 1;
}
