.trending-container {
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.limit-controls {
  margin-bottom: 20px;
}

.limit-controls label {
  margin-right: 5px;
  color: #555;
}

.limit-controls input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #555;
  width: 50px;
  text-align: center;
}

.limit-controls p {
  margin-left: 10px;
}

.gif-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gif-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffaa00;
}

.top-trending-tag {
  background-color: #ffaa00;
  color: #fff;
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.gif-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.gif-box:hover .gif-image {
  transform: scale(1.4);
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.gif-box p {
  margin-top: 10px;
  text-align: center;
  color: #666;
  font-size: 14px;
}